body {
	background-color: black;
}

.main {
	background: white;
	width: 100%;
	height: 500px;
	margin-top: 110px;
}

.container {
	min-width: 800px;
	margin-left: 100px;
	position: relative;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}
	
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;	
	height: 90px;
	display: none;
}

.ryu-ready, .ryu-still, .ryu-throwing {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing {
	display: none;
}	

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
